@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css');
@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.css');

:root {
  --gap: .5rem;
  --big--font-size: 1.5rem;
}

.letters-container {
  display: flex;
  gap: var(--gap);
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;

  padding: var(--pico-border-width);
}

input.letter-input {
  padding: 0;
  margin-bottom: 0;
  aspect-ratio: 1 / 1;
  max-width: 3rem;
  min-width: 2rem;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--big--font-size);
  border-radius: 0;
  border-width: calc(var(--pico-border-width) * 2);
}

.letter-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap);
}

.letter-index {
  font-size: 0.75rem;
  color: var(--pico-color-slate-500);
  user-select: none;
}

.controls {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: var(--gap);

  & * {
    margin-bottom: 0 !important;
  }

  & > button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#word-length-input {
  width: 5rem;
  /* text-align: center; */
  font-size: var(--big--font-size);
}

#results-list {
  max-height: none; /* Remove max-height to avoid vertical scrolling */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem 1.5rem;

  &> div {
    padding: 0.25rem 0;
  }
}

/* Responsive adjustments */
@media (max-width: 576px) {
  #results-list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem 1rem;
  }
}

@media (min-width: 992px) {
  #results-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}

@media (prefers-color-scheme: light) {
  input.letter-input {
    border-color: var(--pico-color-slate-950);
  }
}


@media (prefers-color-scheme: dark) {
  input.letter-input {
    /* background-color: var(--pico-color-slate-800); */
    border-color: var(--pico-color-slate-400);
  }
}