@import url('https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css');

:root {
  --gap: .5rem;
  --big--font-size: 1.5rem;
}

.letters-container {
  display: flex;
  gap: var(--gap);
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  overflow-x: auto;
  padding: var(--pico-border-width);
}

.letter-input {
  width: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--big--font-size);
  aspect-ratio: 1/1;
}

.controls {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: var(--gap);

  & * {
    margin-bottom: 0 !important;
  }
}

#word-length-input {
  width: auto;
  /* text-align: center; */
  font-size: var(--big--font-size);
}

#results-list {
  max-height: none; /* Remove max-height to avoid vertical scrolling */
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.5rem 1.5rem;

  &> div {
    padding: 0.25rem 0;
  }
}

/* Responsive adjustments */
@media (max-width: 576px) {
  #results-list {
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 0.5rem 1rem;
  }
}

@media (min-width: 992px) {
  #results-list {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
